<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>quotaUploadAndReport</name>
        <type>plugin</type>
        <creationDate>2016-07-01</creationDate>
        <last_update>2025-08-22</last_update>
        <author>Adam Zammit</author>
	<authorUrl>https://www.acspri.org.au/limesurvey</authorUrl>
        <version>6.0.2</version>
        <license>AGPL</license>
        <description><![CDATA[Display a summary of the progress of the survey and allow for complex quota uploading and reporting]]></description>
    </metadata>

    <compatibility>
        <version>6</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
