{% include './subviews/quickstatpanel/statpanel_param.twig' %}
{% include './subviews/quickstatpanel/statpanel_register.twig' %}
{{ assetUrl }}
{{ aStatPanel.content|raw }}

{% if aStatPanel.type == 'participation' %}
    {% include './subviews/quickstatpanel/statpanel_participation.twig' %}
{% endif %}
{% if aStatPanel.type == 'satisfaction' %}
    {% include './subviews/quickstatpanel/statpanel_satisfaction.twig' %}
{% endif %}
{% if aStatPanel.type == 'list_surveys' %}
    {% include './subviews/quickstatpanel/statpanel_surveylist.twig' %}
{% endif %}
{# for languagechanger (and other potential function ?#}
<div class="hidden" aria-hidden="true">
    {{ C.Html.form(aStatPanel.surveyUrl,'get',({'id' : 'limesurvey', 'role' : 'form', 'class' : 'hidden'})) }}
    </form>
</div>
