<div class="bg-primary " aria-hidden='true' data-bg-color-quickstatpanel=1'>&nbsp;</div>
<script type="text/javascript">
/*<![CDATA[*/
var quickstatpanel = {};
quickstatpanel.seriecolor = $("[data-bg-color-quickstatpanel]").first().css("background-color");
quickstatpanel.gridcolor = "#fff";
quickstatpanel.ticktexcolor = "#000";

/*]]>*/
</script>
